apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: forgejo-runner-token
spec:
  secretStoreRef:
    name: openbao-eso
    kind: ClusterSecretStore
  refreshInterval: 1h
  target:
    template:
      type: Opaque
      data:
        token: '{{ .token }}'
  dataFrom:
    - extract:
        key: salamandre/forgejo/runner
