apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
spec:
  values:
    ports:
      minio:
        port: 3882
        expose:
          default: true
        exposedPort: 3882
        protocol: TCP
        http:
          tls:
            enabled: true
        forwardedHeaders: &forwardedHeaders
          trustedIPs:
            - "127.0.0.1/32"
            - "10.42.0.0/16"
      monitoring:
        port: 53639
        expose:
          default: true
        exposedPort: 53639
        protocol: TCP
        http:
          tls:
            enabled: true
        forwardedHeaders:
          <<: *forwardedHeaders
