apiVersion: v1
kind: Secret
metadata:
  name: admin-users
  namespace: traefik
type: Opaque
data:
  users: |-
    {% for user in basic_auth_users -%}
    {{ user.name }}:{{ user.password | ansible.builtin.password_hash('md5') }}
    {% endfor -%}
