domain_name: "{{ root_domain }}"

postgres_version: 16

# Applications urls
external_urls:
  openbao: https://secrets.{{ domain_name }}
  zitadel: https://sso.{{ domain_name }}
  forgejo: https://git.{{ domain_name }}
  nextcloud: https://cloud.{{ domain_name }}
  grafana: https://monitor.{{ domain_name }}
  baku_minio: https://baku.{{ domain_name }}:3882 # S3 url
