apiVersion: v1
kind: ServiceAccount
metadata:
  name: openbao-auth
automountServiceAccountToken: false
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: openbao-auth:auth-delegator
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: system:auth-delegator
subjects:
  - kind: ServiceAccount
    name: openbao-auth
    namespace: external-secrets
---
apiVersion: v1
kind: Secret
metadata:
  name: openbao-auth-secret
  annotations:
    kubernetes.io/service-account.name: openbao-auth
type: kubernetes.io/service-account-token
