apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: postgres16
spec:
  instances: 1
  imageName: ghcr.io/cloudnative-pg/postgresql:16.4
  inheritedMetadata:
    labels:
      backup.local/enabled: "true" # Only used to flag PVC (it used to be saved on S3)

  storage:
    size: 5Gi
    storageClass: openebs-zfspv

  enableSuperuserAccess: true
  superuserSecret:
    name: cnpg-user-credentials

  postgresql:
    parameters:
      timezone: "${TIMEZONE}"
      max_connections: "400"
      shared_buffers: 256MB
  nodeMaintenanceWindow:
    inProgress: false
    reusePVC: true

  resources:
    requests:
      cpu: 500m
      memory: 512Mi
    limits:
      memory: 1Gi

  backup:
    retentionPolicy: 30d
    volumeSnapshot:
      snapshotOwnerReference: cluster
      labels:
        backup/managed: "true"

  plugins:
  - name: barman-cloud.cloudnative-pg.io
    isWALArchiver: true
    parameters:
      barmanObjectName: &barmanObjectName baku-s3
      # Note: serverName version needs to be incremented
      # when recovering from an existing cnpg cluster
      serverName:  &currentCluster postgres16-v1

  # Note: previousCluster needs to be set to the name of the previous
  # cluster when recovering from an existing cnpg cluster
  # bootstrap:
  #   recovery:
  #     source: &previousCluster postgres16-v0
  # # Note: externalClusters is needed when recovering from an existing cnpg cluster
  # externalClusters:
  # - name: *previousCluster
  #   plugin:
  #     name: barman-cloud.cloudnative-pg.io
  #     parameters:
  #       barmanObjectName: *barmanObjectName
  #       serverName: *previousCluster
