apiVersion: v1
kind: ServiceAccount
metadata:
  name: "{{ sa_name }}"
automountServiceAccountToken: false
---
apiVersion: v1
kind: Secret
metadata:
  name: "{{ sa_name }}-token"
  annotations:
    kubernetes.io/service-account.name: "{{ sa_name }}"
type: kubernetes.io/service-account-token
