apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: monitoring-vm-credentials
spec:
  secretStoreRef:
    name: openbao-eso
    kind: ClusterSecretStore
  refreshInterval: 1h
  target:
    template:
      type: kubernetes.io/basic-auth
      data:
        username: '{{ .vmsingleUser }}'
        password: '{{ .vmsinglePassword }}'
  dataFrom:
    - extract:
        key: baku/monitoring/auth
