---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: victoria-metrics-k8s-stack
spec:
  releaseName: vm-stack
  interval: 30m
  chart:
    spec:
      chart: victoria-metrics-k8s-stack
      version: "0.71.1"
      sourceRef:
        kind: HelmRepository
        name: victoriametrics
      interval: 12h
  install:
    createNamespace: true
    crds: Skip
  upgrade:
    crds: Skip
  values:
    kubelet:
      vmScrape:
        spec:
          # drop high cardinality label and useless metrics for cadvisor and kubelet
          metricRelabelConfigs:
            - action: labeldrop
              regex: (uid)
            # - action: labeldrop # Keep this
            #   regex: (id|name)
            - action: drop
              source_labels: [__name__]
              regex: (rest_client_request_duration_seconds_bucket|rest_client_request_duration_seconds_sum|rest_client_request_duration_seconds_count)

    victoria-metrics-operator:
      fullnameOverride: victoria-metrics-operator

      operator:
        enable_converter_ownership: true

      # Disable CRDs
      crds:
        enabled: false
        plain: false
        cleanup:
          enabled: false

    # Global resources
    vmagent:
      spec:
        resources:
          requests:
            cpu: 90m
            memory: 200Mi
          limits:
            cpu: 200m
            memory: 300Mi

    # Disable unneeded alert rules
    defaultRules:
      groups:
        etcd:
          create: false
        vmcluster:
          create: false

    ## In k3s alls bellow components is combined in "kubelet"
    kubeControllerManager:
      enabled: false
    kubeScheduler:
      enabled: false
    kubeProxy:
      enabled: false
    kubeApiServer:
      enabled: false
    kubeEtcd:
      enabled: false

    # Disable default grafana dashboards
    defaultDashboards:
      enabled: false
    ## Disable embedded grafana for deploy own
    grafana:
      enabled: false
    # Disable CRDs
    prometheus-operator-crds:
      enabled: false

    fullnameOverride: vm-stack
    prometheus-node-exporter:
      fullnameOverride: node-exporter
      resources:
        requests:
          cpu: 20m
          memory: 25Mi
        limits:
          cpu: 30m
          memory: 50Mi
    kube-state-metrics:
      fullnameOverride: kube-state-metrics
      resources:
        requests:
          cpu: 4m
          memory: 60Mi
        limits:
          cpu: 100m
          memory: 120Mi
