---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name cloudnative-pg
spec:
  releaseName: *name
  interval: 1h
  chart:
    spec:
      chart: cloudnative-pg
      version: "0.27.1"
      sourceRef:
        kind: HelmRepository
        name: cloudnative-pg
  values:
    priorityClassName: system-cluster-critical

    crds:
      create: false

    resources:
      requests:
        cpu: 4m
        memory: 64Mi
      limits:
        cpu: 200m
        memory: 192Mi
