- name: MinIO | Download CLI client
  ansible.builtin.get_url:
    url: https://dl.min.io/client/mc/release/linux-amd64/mc
    owner: backup
    group: backup
    dest: "{{ exec_dir }}/mc"
    mode: "u=rwx,g=rx,o=rx"

- name: MinIO | Create folder for config file
  ansible.builtin.file:
    state: directory
    path: "{{ exec_dir }}/.mc"
    owner: backup
    group: backup
    mode: "0750" # u=rwx,g=rx

- name: MinIO | Retrieve baku credentials
  no_log: true
  ansible.builtin.uri:
    url: "{{ openbao_api_url }}/{{ secret_path }}"
    method: GET
    status_code:
      - 200 # When successful
      - 204 # When warning
    headers:
      X-Vault-Token: "{{ openbao_root_token }}"
    return_content: true
  register: minio_creds

- name: MinIO | Upload config
  vars:
    url: "{{ minio_creds.json.data.data.endpoint }}"
    access_key: "{{ minio_creds.json.data.data.accessKey }}"
    secret_key: "{{ minio_creds.json.data.data.secretKey }}"
  ansible.builtin.template:
    dest: "{{ exec_dir }}/.mc/config.json"
    src: mc_config.json.j2
    owner: backup
    group: backup
    mode: "0640" # u=rw,g=r
