apiVersion: v1
kind: Secret
metadata:
  name: "{{ apps_vault.keys_secret_name }}"
  namespace: "{{ apps_vault.namespace  }}"
type: Opaque
data:
  {% for key in unseal_keys_b64 -%}
  key{{ loop.index }}: "{{ key | b64encode }}"
  {% endfor -%}
