ssh:
  port: 8474
  users:
    []
    # - name: username
    #   authorized_key: "..."
    #   sudoer: true

# Percent of total RAM for ARC
zfs_arc_percent: 25
zfs_pool:
  name: data
  # The pool type (available values: stripe, mirror, raidz (similar to RAID5) or raidz2 (Similar to RAID5 with dual parity))
  type: raidz
  disks:
    []
    # - /dev/sda

# renovate: datasource=github-releases depName=k3s-io/k3s
k3s_version: v1.35.1+k3s1
k3s:
  flags: []
  config: {}
