---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name openbao
spec:
  releaseName: *name
  interval: 1h
  chart:
    spec:
      chart: openbao
      version: "0.25.5"
      sourceRef:
        kind: HelmRepository
        name: openbao
  values:
    global:
      enabled: true

    ui:
      enabled: true

    server:
      standalone:
        enabled: true

        config: |
          ui = true

          listener "tcp" {
            address = "[::]:8200"
            tls_disable = 1 # Managed by traefik
          }
          storage "raft" {
            path = "/openbao/data"
          }

          seal "static" {
            current_key_id = "salamandre-1"
            current_key = "env://OPENBAO_STATIC_SEAL_KEY"
          }

      dataStorage:
        size: 2Gi
        storageClass: openebs-zfspv
        labels:
          backup.local/enabled: "true"

      extraSecretEnvironmentVars:
        - envName: OPENBAO_STATIC_SEAL_KEY
          secretName: openbao
          secretKey: OPENBAO_STATIC_SEAL_KEY

      ingress:
        enabled: true
        annotations:
          traefik.ingress.kubernetes.io/router.entrypoints: websecure
        hosts:
          - host: &host secrets.${DOMAIN_NAME}
        tls:
          - hosts:
              - *host

      # Configure readiness probe to report "ready" even if OpenBao is uninitialized and sealed.
      # Useful when bootstrapping OpenBao for the first time.
      readinessProbe:
        enabled: true
        path: '/v1/sys/health?standbyok=true&sealedcode=204&uninitcode=204'

      resources:
        requests:
          memory: 192Mi
          cpu: 10m
        limits:
          memory: 256Mi
          cpu: 250m

    injector:
      enabled: false
