apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: vm-ca-tls
spec:
  secretStoreRef:
    name: openbao-eso
    kind: ClusterSecretStore
  refreshInterval: 1h
  target:
    template:
      type: kubernetes.io/tls
      data:
        tls.crt: '{{ .crt }}'
        tls.key: '{{ .key }}'
  dataFrom:
    - extract:
        key: salamandre/tls/vm-ca
