apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: backup-log
  labels:
    app.kubernetes.io/name: &name backup
    app.kubernetes.io/instance: *name
    app.kubernetes.io/component: app
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
