apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: minio-credentials
spec:
  secretStoreRef:
    name: vault-eso
    kind: ClusterSecretStore
  refreshInterval: 1h
  target:
    template:
      type: Opaque
      data:
        config.json: |-
          {
            "version": "10",
            "aliases": {
              "baku": {
                "url": "{{ .endpoint }}",
                "accessKey": "{{ .accessKey }}",
                "secretKey": "{{ .secretKey }}",
                "api": "s3v4",
                "path": "auto"
              }
            }
          }

  dataFrom:
    - extract:
        key: salamandre/data/backup/s3
---
apiVersion: v1
kind: Secret
metadata:
  name: discord-webhook
type: Opaque
data:
  url: ${ALERTS_DISCORD_WEBHOOK_URL}
