- name: Generate an password
  ansible.builtin.set_fact:
    _password: "{{ lookup('ansible.builtin.password', '/dev/null', chars=['ascii_letters', 'digits']) }}"

- name: Store credentials # noqa: var-naming[no-role-prefix]
  ansible.builtin.include_role:
    name: openbao_secret
  vars:
    path: "{{ secret_path }}"
    data:
      database: "{{ database }}"
      username: "{{ username }}"
      password: "{{ _password }}"

- name: Create/update role and database
  delegate_to: localhost
  vars:
    err_msg: 'database "{{ database }}" already exists'
  kubernetes.core.k8s_exec:
    kubeconfig: "{{ local_kubeconfig }}"
    namespace: database
    pod: "postgres{{ postgres_version }}-1"
    command: >-
      psql -U postgres -c "DO $$
        BEGIN
          IF EXISTS (SELECT FROM pg_catalog.pg_roles WHERE rolname = '{{ username }}') THEN
              ALTER ROLE {{ username }} WITH PASSWORD '{{ _password }}';
          ELSE
              CREATE ROLE {{ username }} WITH LOGIN PASSWORD '{{ _password }}';
          END IF;
        END
        $$;"
        -c "CREATE DATABASE {{ database }} OWNER {{ username }};"
  register: database_cmd
  changed_when: database_cmd.rc == 0
  failed_when:
    - database_cmd.rc != 0
    - not err_msg in database_cmd.stderr
