apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: &name vaultwarden
  labels:
    app.kubernetes.io/name: *name
    app.kubernetes.io/instance: *name
    backup.local/enabled: "true"
spec:
  storageClassName: openebs-zfspv
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Mi
