apiVersion: external-secrets.io/v1alpha1
kind: PushSecret
metadata:
  name: vm-ca-tls
spec:
  secretStoreRefs:
    - name: openbao-eso
      kind: ClusterSecretStore
  selector:
    secret:
      name: vm-ca-tls
  data:
    - match:
        secretKey: tls.crt
        remoteRef:
          remoteKey: salamandre/data/tls/vm-ca
          property: crt
    - match:
        secretKey: tls.key
        remoteRef:
          remoteKey: salamandre/data/tls/vm-ca
          property: key
