apiVersion: external-secrets.io/v1alpha1
kind: PushSecret
metadata:
  name: ${DOMAIN_NAME/./-}-tls
spec:
  secretStoreRefs:
    - name: openbao-eso
      kind: ClusterSecretStore
  selector:
    secret:
      name: ${DOMAIN_NAME/./-}-tls
  data:
    - match:
        secretKey: tls.crt
        remoteRef:
          remoteKey: "salamandre/data/tls/${DOMAIN_NAME/./-}"
          property: crt
    - match:
        secretKey: tls.key
        remoteRef:
          remoteKey: "salamandre/data/tls/${DOMAIN_NAME/./-}"
          property: key
