---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cnpg-plugin-barman
spec:
  releaseName: plugin-barman-cloud
  interval: 1h
  chart:
    spec:
      chart: plugin-barman-cloud
      version: "0.3.1"
      sourceRef:
        kind: HelmRepository
        name: cloudnative-pg
  values:
    crds:
      create: false

    resources:
      requests:
        cpu: "100m"
        memory: "128Mi"
      limits:
        cpu: "1000m" # 1 CPU core
        memory: "1Gi"
