- name: Vault | Fill seaweedfs application secrets # noqa: var-naming[no-role-prefix]
  ansible.builtin.include_role:
    name: vault_secret
  tags: seaweedfs
  vars:
    path: baku/data/seaweedfs/auth
    data:
      adminUser: admin
      adminPassword: "{{ admin_passwords.baku.minio }}"

- name: Vault | Fill monitoring application secrets # noqa: var-naming[no-role-prefix]
  ansible.builtin.include_role:
    name: vault_secret
  tags: monitoring
  vars:
    path: baku/data/monitoring/auth
    data:
      vmsingleUser: vmsingle
      vmsinglePassword: "{{ lookup('ansible.builtin.password', '/dev/null', chars=['ascii_letters', 'digits']) }}"

- name: Vault | Fill grafana application secrets # noqa: var-naming[no-role-prefix]
  ansible.builtin.include_role:
    name: vault_secret
  tags: grafana
  vars:
    path: baku/data/grafana/auth
    data:
      adminUser: admin
      adminPassword: "{{ admin_passwords.baku.grafana }}"
