- name: External-secrets | Force sync secrets
  delegate_to: localhost
  kubernetes.core.k8s:
    state: patched
    kubeconfig: "{{ local_kubeconfig }}"
    kind: ExternalSecret
    name: "{{ item.name }}"
    namespace: "{{ item.namespace }}"
    definition:
      metadata:
        annotations:
          force-sync: "{{ ansible_facts['date_time'].epoch }}"
  loop_control:
    label: "{{ item.name }}"
  loop:
    - namespace: minio
      name: minio-admin

    - namespace: monitoring
      name: monitoring-vm-credentials
    - namespace: monitoring
      name: monitoring-oidc-credentials
