- name: OpenBao | Fill minio application secrets # noqa: var-naming[no-role-prefix]
  ansible.builtin.include_role:
    name: openbao_secret
  tags: minio
  vars:
    path: baku/data/minio/auth
    data:
      adminUser: admin
      adminPassword: "{{ admin_passwords.baku.minio }}"

- name: OpenBao | Fill monitoring application secrets # noqa: var-naming[no-role-prefix]
  ansible.builtin.include_role:
    name: openbao_secret
  tags: monitoring
  vars:
    path: baku/data/monitoring/auth
    data:
      vmsingleUser: vmsingle
      vmsinglePassword: "{{ lookup('ansible.builtin.password', '/dev/null', chars=['ascii_letters', 'digits']) }}"

- name: OpenBao | Fill grafana application secrets # noqa: var-naming[no-role-prefix]
  ansible.builtin.include_role:
    name: openbao_secret
  tags: grafana
  vars:
    path: baku/data/grafana/auth
    data:
      adminUser: admin
      adminPassword: "{{ admin_passwords.baku.grafana }}"
