{
  "version": "10",
  "aliases": {
    "baku": {
      "url": "{{ url }}",
      "accessKey": "{{ access_key }}",
      "secretKey": "{{ secret_key }}",
      "api": "s3v4",
      "path": "auto"
    }
  }
}
