---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name nextcloud
spec:
  releaseName: *name
  interval: 1h
  chart:
    spec:
      chart: nextcloud
      version: "8.6.0"
      sourceRef:
        kind: HelmRepository
        name: nextcloud
  values:
    nextcloud:
      host: &host cloud.${DOMAIN_NAME}

      # Admin user + SMTP credentials
      existingSecret:
        enabled: true
        secretName: nextcloud-credentials

      mail:
        enabled: true
        fromAddress: contact
        domain: ${DOMAIN_NAME}

      # Configure apps + Update actions
      hooks:
        post-installation: |-
          _instanceID=$(php occ config:system:get instanceid)
          echo "Disable unneeded Nextcloud Apps"
          php occ app:disable activity
          php occ app:disable circles
          php occ app:disable systemtags
          php occ app:disable federation
          php occ app:disable privacy
          php occ app:disable nextcloud_announcements
          php occ app:disable support
          php occ app:disable survey_client
          php occ app:disable user_status
          php occ app:disable weather_status

          echo "Configuring Nextcloud Apps"
          php occ theming:config url https://cloud.${DOMAIN_NAME}
          php occ theming:config name "Sebtiz13 cloud"

          php occ config:app:set preview jpeg_quality --value 60

          php occ app:enable admin_audit && \
          php occ config:app:set admin_audit logfile --value /var/log/nextcloud/audit.log

          php occ app:enable user_oidc && \
          php occ config:app:set --value=0 user_oidc allow_multiple_user_backends

          php occ app:enable richdocuments && \
          php occ config:app:set richdocuments wopi_allowlist --value 10.42.0.0/16 && \
          php occ config:app:set richdocuments wopi_url --value http://nextcloud-collabora:9980/ && \
          php occ config:app:set richdocuments public_wopi_url --value https://cloud.${DOMAIN_NAME}/

          php occ app:enable bookmarks && \
          php occ config:app:set bookmarks privacy.enableScraping --value true

          php occ app:enable drawio && \
          php occ config:app:set drawio DrawioTheme --value dark && \
          php occ config:app:set drawio DrawioLibraries --value yes

          php occ app:enable bruteforcesettings
          php occ app:enable previewgenerator
          php occ app:enable quota_warning
          php occ app:enable contacts
          php occ app:enable calendar
          php occ app:enable notes
          php occ app:enable deck
          php occ app:enable mail

          php occ app:enable external && \
          php occ config:app:set external sites --value "{\"1\":{\"id\":1,\"name\":\"Wallabag\",\"url\":\"https:\/\/bag.${DOMAIN_NAME}\",\"lang\":\"\",\"type\":\"link\",\"device\":\"\",\"icon\":\"wallabag.svg\",\"groups\":[],\"redirect\":false}}" && \
          php occ config:app:set external max_site --value 1 && \
          echo "Copy extra icons for external apps" && \
          cp /mnt/extra-icons/* /var/www/html/data/appdata_$${_instanceID}/external/icons && \
          chown www-data:www-data /var/www/html/data/appdata_$${_instanceID}/external/icons/*

          echo "Add missing DB indices"
          php occ db:add-missing-indices

        # Update credential on each reboot
        before-starting: |-
          php occ user_oidc:provider "Pocket ID" --clientid="$(cat /var/run/secrets/auth_oidc/clientID)" \
            --clientsecret="$(cat /var/run/secrets/auth_oidc/clientSecret)" \
            --discoveryuri="https://${OIDC_ISSUER_HOST}/.well-known/openid-configuration" \
            --scope="openid email profile groups quota" --group-provisioning 1

        # Based on: https://github.com/nextcloud/all-in-one/blob/bce08a1564895a064cca1280482e4898ab5100fc/Containers/nextcloud/entrypoint.sh#L296-L306
        post-upgrade: |-
          echo "Update all Nextcloud Apps"
          php occ app:update --all

          echo "Doing some optimizations..."
          php occ maintenance:repair
          php occ db:add-missing-indices
          php occ db:add-missing-columns
          php occ db:add-missing-primary-keys
          yes | php occ db:convert-filecache-bigint
          php occ maintenance:mimetype:update-js
          php occ maintenance:mimetype:update-db

      # Global configuration
      phpConfigs:
        z-nextcloud.ini: |-
          ;Permanent cache (need restart to revalidate) useful for production
          opcache.validate_timestamps=false
          opcache.memory_consumption=256
      defaultConfigs:
        imaginary.config.php: true
        autoconfig.php: false # Implemented by "db.config.php" bellow
        reverse-proxy.config.php: false # Re implement bellow
        # Disable unneeded configs
        redis.config.php: false
        s3.config.php: false
        swift.config.php: false
      configs:
        custom.config.php: |-
          <?php
          $CONFIG = array (
            'default_phone_region' => 'FR',
            'maintenance_window_start' => 1,

            'trusted_domains' => array (
              0 => 'localhost',
              1 => 'cloud.${DOMAIN_NAME}',
              2 => 'nextcloud:8080'
            )
          );
        # AIO (chart) config
        aio.config.php: |-
          <?php
          $CONFIG = array (
            // Imaginary (from https://github.com/nextcloud/all-in-one/blob/3ccdd332a99307a180816280279847549ebc44f8/Containers/nextcloud/entrypoint.sh#L331)
            'preview_max_x' => '2048',
            'preview_max_x' => '2048',
            'preview_format' => 'webp',
            'jpeg_quality' => '60',
            'webp_quality' => '40',

            // Other settings (from https://github.com/nextcloud/all-in-one/blob/3ccdd332a99307a180816280279847549ebc44f8/Containers/nextcloud/entrypoint.sh#L347)
            'trashbin_retention_obligation' => 'auto, 30',
            'versions_retention_obligation' => 'auto, 30',
            'activity_expire_days' => '30',
            'simpleSignUpLink.shown' => false,

            // Collabora settings
            'allow_local_remote_servers' => true
          );
        # Support dynamic database credentials
        db.config.php: |-
          <?
          $overwriteDbName = getenv('POSTGRES_DB');
          if ($overwriteDbName) {
            $CONFIG['dbname'] = $overwriteDbName;
          }

          $overwriteDbHost = getenv('POSTGRES_HOST');
          if ($overwriteDbHost) {
            $CONFIG['dbhost'] = $overwriteDbHost;
          }

          $overwriteDbUser = getenv('POSTGRES_USER');
          if ($overwriteDbUser) {
            $CONFIG['dbuser'] = $overwriteDbUser;
          }

          $overwriteDbPassword = getenv('POSTGRES_PASSWORD');
          if ($overwriteDbPassword) {
            $CONFIG['dbpassword'] = $overwriteDbPassword;
          }
        reverse-proxy.config.php: |-
          <?
          $CONFIG = array (
            'trusted_proxies' => array (
                0 => '127.0.0.1/32',
                1 => '10.42.0.0/16',
            ),
            'forwarded_for_headers' => array('HTTP_X_FORWARDED_FOR'),
            'overwriteprotocol' => 'https',
            'overwrite.cli.url' => 'https://cloud.${DOMAIN_NAME}',
          );
        # Move log files to `/var/log/nextcloud` (no ZFS PVC to prevent useless backup)
        logging.config.php: |-
          <?
          $CONFIG = array (
            'log_rotate_size' => 0,
            'logfile' => '/var/log/nextcloud/nextcloud.log',
            'logfile_audit' => '/var/log/nextcloud/audit.log',
          );

      extraEnv:
        - name: PHP_MEMORY_LIMIT
          value: 1024M
        - name: PHP_UPLOAD_LIMIT
          value: 16G

      extraVolumes:
        - name: &configName extra-icons
          configMap:
            name: *configName
        - name: &oauthSecName auth-oidc-secret-mount
          secret:
            secretName: nextcloud-oidc-credentials
            defaultMode: 420
        - name: &logVolume nextcloud-log
          persistentVolumeClaim:
            claimName: *logVolume
      extraVolumeMounts:
        - name: *configName
          mountPath: /mnt/extra-icons
        - name: *oauthSecName
          mountPath: /var/run/secrets/auth_oidc
          readOnly: true
        - name: *logVolume
          mountPath: /var/log/nextcloud

    startupProbe:
      enabled: true

    externalDatabase:
      enabled: true
      type: postgresql
      existingSecret:
        enabled: true
        secretName: nextcloud-db-credentials
        hostKey: db-host
        databaseKey: db-name

    persistence:
      enabled: true
      existingClaim: nextcloud

    cronjob:
      enabled: true
      resources:
        requests:
          cpu: 10m
          memory: 3Mi
        limits:
          cpu: 100m
          memory: 128Mi

    phpClientHttpsFix:
      enabled: true

    deploymentAnnotations:
      reloader.stakater.com/auto: "true"

    ingress:
      enabled: true
      annotations:
        traefik.ingress.kubernetes.io/router.middlewares: nextcloud-chained-middlewares@kubernetescrd
      tls:
        - hosts:
            - *host

    resources:
      requests:
        cpu: 200m
        memory: 256Mi
      limits:
        cpu: 1500m
        memory: 2.5Gi

    imaginary:
      enabled: true

      resources:
        requests:
          cpu: 5m
          memory: 32Mi
        limits:
          cpu: 1
          memory: 1024Mi

    collabora:
      enabled: true

      collabora:
        aliasgroups:
          - host: https://cloud.${DOMAIN_NAME}
        extra_params: --o:ssl.termination=true --o:ssl.enable=false
        server_name: *host

        env:
          - name: DONT_GEN_SSL_CERT
            value: "true"
          - name: dictionaries
            value: "en_GB en_US es_ES fr_FR"

      ingress:
        enabled: true
        annotations:
          traefik.ingress.kubernetes.io/router.middlewares: nextcloud-chained-middlewares@kubernetescrd
        hosts:
          - host: *host
            paths:
              # static html, js, images, etc. served from coolwsd
              # browser is the client part of LibreOffice Online
              - path: /browser
                pathType: Prefix
              # WOPI discovery URL
              - path: /hosting/discovery
                pathType: Prefix
              # Capabilities
              - path: /hosting/capabilities
                pathType: Prefix
              # Main websocket, Admin Console websocket and
              # Download as, Fullscreen presentation and Image upload operations
              - path: /cool
                pathType: Prefix
              # Compatibility with integrations that use the /lool/convert-to endpoint
              - path: /lool
                pathType: Prefix
        tls:
          - hosts:
              - *host

      resources:
        requests:
          cpu: 100m
          memory: 512Mi
        limits:
          cpu: 500m
          memory: 1Gi

    # Disable not necessary apps
    internalDatabase:
      enabled: false
