apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: nextcloud-credentials
spec:
  secretStoreRef:
    name: openbao-eso
    kind: ClusterSecretStore
  refreshInterval: 1h
  target:
    template:
      type: Opaque
      metadata:
        labels:
          reloader/watch: enabled
      data:
        nextcloud-username: '{{ .auth_adminUser }}'
        nextcloud-password: '{{ .auth_adminPassword }}'
        smtp-host: '{{ .smtp_host }}'
        smtp-username: '{{ .smtp_username }}'
        smtp-password: '{{ .smtp_password }}'
  dataFrom:
    - extract:
        key: salamandre/nextcloud/auth
      rewrite:
        - regexp:
            source: "(.*)"
            target: "auth_$1"
    - extract:
        key: salamandre/smtp
      rewrite:
        - regexp:
            source: "(.*)"
            target: "smtp_$1"
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: nextcloud-db-credentials
spec:
  secretStoreRef:
    name: openbao-eso
    kind: ClusterSecretStore
  refreshInterval: 1h
  target:
    template:
      type: Opaque
      metadata:
        labels:
          reloader/watch: enabled
      data:
        db-host: postgres16-rw.database.svc.cluster.local
        db-name: "{{ .database }}"
        db-username: "{{ .username }}"
        db-password: "{{ .password }}"
  dataFrom:
    - extract:
        key: salamandre/data/nextcloud/database
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: nextcloud-oidc-credentials
spec:
  secretStoreRef:
    name: openbao-eso
    kind: ClusterSecretStore
  refreshInterval: 1h
  target:
    template:
      type: Opaque
      metadata:
        labels:
          reloader/watch: enabled
  dataFrom:
    - extract:
        key: salamandre/data/nextcloud/oidc
