apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: victoria-metrics-k8s-stack
spec:
  values:
    external:
      vm:
        read:
          url: https://monitor.${DOMAIN_NAME}:53639/
          basicAuth: &auth
            password:
              key: password
              name: &secret monitoring-credentials
            username:
              key: user
              name: *secret
        write:
          url: https://monitor.${DOMAIN_NAME}:53639/api/v1/write
          basicAuth:
            <<: *auth

    victoria-metrics-operator:
      resources:
        requests:
          cpu: 8m
          memory: 70Mi
        limits:
          cpu: 16m
          memory: 140Mi

    vmagent:
      spec:
        externalLabels:
          cluster: salamandre

    # disable unneeded dependencies
    defaultRules:
      create: false
    vmalert:
      enabled: false
    vmsingle:
      enabled: false
    alertmanager:
      enabled: false
