apiVersion: v1
kind: Secret
metadata:
  name: vm-ca-tls
type: kubernetes.io/tls
data:
  tls.crt: "{{ lookup('ansible.builtin.file', ca.cert) | b64encode }}"
  tls.key: "{{ lookup('ansible.builtin.file', ca.key) | b64encode }}"
