apiVersion: v1
kind: Secret
metadata:
  name: cluster-secrets
  namespace: flux-system
type: Opaque
stringData:
  GIT_REPO_URL: "{{ git_repo_url }}"
  GIT_BRANCH: "{{ git_branch }}"

  DOMAIN_NAME: "{{ root_domain }}"
  OIDC_ISSUER_HOST: "{{ hostvars.salamandre.external_urls.zitadel | replace('https://', '') }}"
{% if inventory_hostname == 'salamandre' %}
  ROOT_DOMAIN_NAME: "{{ root_domains.salamandre }}"
  BAKU_ROOT_DOMAIN_NAME: "{{ root_domains.baku }}"
{% endif %}

  ALERTS_DISCORD_WEBHOOK_URL: "{{ discord_webhook_url.alerts }}"
  WATCHDOG_DISCORD_WEBHOOK_URL: "{{ discord_webhook_url.watchdog }}"
