- name: OpenBao | Fill forgejo application secrets # noqa: var-naming[no-role-prefix]
  ansible.builtin.include_role:
    name: openbao_secret
  tags: forgejo
  vars:
    path: "salamandre/data/forgejo/{{ item.item }}"
    data: "{{ item.data }}"
  loop_control:
    label: "{{ item.item }}"
  loop:
    - item: auth
      data:
        adminUser: root
        adminPassword: "{{ admin_passwords.salamandre.forgejo }}"
    - item: runner
      data:
        token: "{{ lookup('ansible.builtin.file', credentials_folder + '/forgejo_runner_token') }}"

- name: OpenBao | Fill nextcloud application secrets # noqa: var-naming[no-role-prefix]
  ansible.builtin.include_role:
    name: openbao_secret
  tags: nextcloud
  vars:
    path: salamandre/data/nextcloud/auth
    data:
      adminUser: admin
      adminPassword: "{{ admin_passwords.salamandre.nextcloud }}"

- name: Vaultwarden | Hash password
  delegate_to: localhost
  tags: vaultwarden
  # Copy from https://github.com/dani-garcia/vaultwarden/wiki/Enabling-admin-page#using-argon2
  ansible.builtin.shell:
    cmd: |-
      set -o pipefail
      echo -n {{ admin_passwords.salamandre.vaultwarden.value }} | argon2 "{{ admin_passwords.salamandre.vaultwarden.salt }}" -e -id -k 65540 -t 3 -p 4
  changed_when: false
  register: vaultwarden_password
- name: OpenBao | Fill vaultwarden application secrets # noqa: var-naming[no-role-prefix]
  ansible.builtin.include_role:
    name: openbao_secret
  tags: vaultwarden
  vars:
    path: salamandre/data/vaultwarden/auth
    data:
      hashed_token: "{{ vaultwarden_password.stdout }}"
