- name: External-secrets | Force sync secrets
  delegate_to: localhost
  kubernetes.core.k8s:
    state: patched
    kubeconfig: "{{ local_kubeconfig }}"
    kind: ExternalSecret
    name: "{{ item.name }}"
    namespace: "{{ item.namespace }}"
    definition:
      metadata:
        annotations:
          force-sync: "{{ ansible_facts['date_time'].epoch }}"
  loop_control:
    label: "{{ item.name }}"
  loop:
    - namespace: forgejo
      name: forgejo-admin-credentials
    - namespace: forgejo
      name: forgejo-app-ini-database
    - namespace: forgejo
      name: forgejo-oidc-credentials
    - namespace: forgejo
      name: forgejo-runner-token
    - namespace: forgejo
      name: forgejo-app-ini-mail

    - namespace: nextcloud
      name: nextcloud-credentials
    - namespace: nextcloud
      name: nextcloud-db-credentials
    - namespace: nextcloud
      name: nextcloud-oidc-credentials

    - namespace: vaultwarden
      name: vaultwarden-db-credentials
    - namespace: vaultwarden
      name: vaultwarden-admin-credentials
    - namespace: vaultwarden
      name: vaultwarden-smtp

    - namespace: backup
      name: minio-credentials

    # - namespace: wallabag # TODO: app is currently disabled
    #   name: wallabag-db-credentials
