apiVersion: v1
kind: Secret
metadata:
  name: '{{ apps_gitlab.release_name }}-gitlab-initial-root-password'
  namespace: '{{ apps_gitlab.namespace }}'
type: Opaque
data:
  password: '{{ admin_passwords.gitlab | b64encode }}'
