#cloud-config
# yaml-language-server: $schema=https://raw.githubusercontent.com/canonical/cloud-init/main/cloudinit/config/schemas/versions.schema.cloud-config.json
# See examples: https://github.com/canonical/cloud-init/tree/main/doc/examples
hostname: "{{ vm_name }}"
timezone: "{{ timezone }}"
locale: "en_US.UTF-8"

# disable ssh access as root.
disable_root: true
# if you want to allow SSH with password, set this to true
ssh_pwauth: false

# Disable SSH fingerprint
no_ssh_fingerprints: true

# users[0] (the first user in users) overrides the user directive.
users:
  - name: "{{ ssh_user }}"
    plain_text_passwd: "{{ ssh_user }}"
    ssh_authorized_keys:
      - "{{ ssh_key }}"
    lock_passwd: false
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
