- name: Configure backup
  hosts: salamandre
  become: true
  tags:
    - backup
    - minio
  pre_tasks:
    - name: OpenBao | Authenticate console
      become: false
      when: "openbao_root_token is not defined"
      ansible.builtin.import_tasks: roles/openbao/tasks/auth.yaml
      # openbao_api_url: "" # Defined in roles/openbao/tasks/auth.yaml
      # openbao_root_token: "" # Defined in roles/openbao/tasks/auth.yaml
  roles:
    - role: backup
      when: "(ansible_limit is not defined) or ('baku' in ansible_limit)"
