${domain}:53 {
  errors
  hosts {
    ${server_ip} argocd.${domain}
    ${server_ip} vault-secrets.${domain}
    fallthrough
  }
  kubernetes cluster.local 10.0.0.0/24
  forward . /etc/resolv.conf
  cache 3600
}
