${base_domain}:53 {
  errors
  hosts {
    %{ for domain in domains ~}
    ${server_ip} ${domain}
    %{ endfor ~}
    fallthrough
  }
  kubernetes cluster.local 10.0.0.0/24
  forward . /etc/resolv.conf
  cache 3600
}
