---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/gitrepository-source-v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: GitRepository
metadata:
  name: external-dns-source
spec:
  url: https://github.com/kubernetes-sigs/external-dns
  ref:
    tag: v0.19.0
  interval: 15m
  ignore: |
    # exclude all
    /*
    # include crds directory
    !/config/crd/standard/
