apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: seaweedfs-s3-secret
spec:
  secretStoreRef:
    name: vault-eso
    kind: ClusterSecretStore
  refreshInterval: 1h
  target:
    template:
      type: Opaque
      data:
        seaweedfs_s3_config: |
          {
            "identities": [
              {
                "name": "admin",
                "credentials": [
                  {
                    "accessKey": "{{ .adminUser }}",
                    "secretKey": "{{ .adminPassword }}"
                  }
                ],
                "actions": ["Admin", "Read", "Write"]
              },
              {
                "name": "salamandre-backup",
                "credentials": [
                  {
                    "accessKey": "{{ .accessKey }}",
                    "secretKey": "{{ .secretKey }}"
                  }
                ],
                "actions": ["Read", "Write"]
              }
            ]
          }
  dataFrom:
    - extract:
        key: baku/seaweedfs/auth
        # Expected keys: adminUser, adminPassword
    - extract:
        key: salamandre/data/backup/s3
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: seaweedfs-admin-secret
spec:
  secretStoreRef:
    name: vault-eso
    kind: ClusterSecretStore
  refreshInterval: 1h
  target:
    template:
      type: Opaque
      metadata:
        labels:
          reloader/watch: enabled
      data:
        adminUser: '{{ .adminUser }}'
        adminPassword: '{{ .adminPassword }}'
  dataFrom:
    - extract:
        key: baku/seaweedfs/auth
