apiVersion: external-secrets.io/v1beta1
kind: ClusterSecretStore
metadata:
  name: vault-eso
spec:
  provider:
    vault:
      server: "{{ eso_vault_host }}"
      auth:
        kubernetes:
          mountPath: "{{ eso_vault_mount_path }}"
          role: external-secrets
          serviceAccountRef:
            name: "{{ apps_external_secrets.release_name }}"
            namespace: "{{ apps_external_secrets.namespace }}"
{% if use_ca %}
      caProvider:
        type: Secret
        namespace: default
        name: vm-ca-tls
        key: tls.crt
---
apiVersion: v1
kind: Secret
metadata:
  name: vm-ca-tls
type: kubernetes.io/tls
data:
  tls.crt: "{{ lookup('file', ca.cert) | b64encode }}"
  tls.key: "{{ lookup('file', ca.key) | b64encode }}"
{% endif %}
