apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name pocket-id
  labels:
    app.kubernetes.io/name: *name
    app.kubernetes.io/instance: *name
spec:
  secretStoreRef:
    name: vault-eso
    kind: ClusterSecretStore
  refreshInterval: 1h
  target:
    template:
      type: Opaque
      metadata:
        labels:
          app.kubernetes.io/name: *name
          app.kubernetes.io/instance: *name
          reloader/watch: enabled
      data:
        ENCRYPTION_KEY: '{{ .encryptionKey }}'
        DB_CONNECTION_STRING: 'postgresql://{{ .db_username }}:{{ .db_password }}@postgres16-rw.database.svc.cluster.local/{{ .db_database }}'
        SMTP_HOST: '{{ .smtp_host }}'
        SMTP_PORT: '{{ .smtp_port }}'
        SMTP_FROM: '{{ .smtp_username }}'
        SMTP_USER: '{{ .smtp_username }}'
        SMTP_PASSWORD: '{{ .smtp_password }}'
        SMTP_TLS: tls
  dataFrom:
    - extract:
        key: salamandre/pocket-id/encryption_key
      rewrite:
        - regexp:
            source: "value"
            target: "encryptionKey"
    - extract:
        key: salamandre/pocket-id/database
      rewrite:
        - regexp:
            source: "(.*)"
            target: "db_$1"
    - extract:
        key: salamandre/smtp
      rewrite:
        - regexp:
            source: "(.*)"
            target: "smtp_$1"
