- name: Store masterkey # noqa: var-naming[no-role-prefix]
  ansible.builtin.include_role:
    name: vault_secret
  vars:
    updatable: false
    path: salamandre/data/zitadel/masterkey
    data:
      value: "{{ lookup('ansible.builtin.file', credentials_folder + '/zitadel_masterkey') }}"
- name: Create database access # noqa: var-naming[no-role-prefix]
  ansible.builtin.include_role:
    name: database_access
  vars:
    secret_path: salamandre/data/zitadel/database
    database: zitadel
    username: zitadel

- name: Zitadel | Check application
  delegate_to: localhost
  kubernetes.core.k8s_info:
    kubeconfig: "{{ local_kubeconfig }}"
    kind: Deployment
    name: "{{ apps_zitadel.release_name }}"
    namespace: "{{ apps_zitadel.namespace }}"
  register: server

- name: External-secrets | Force sync secrets
  when:
    - (server.resources | length) == 0 or (server.resources.0.status.readyReplicas == server.resources.0.status.replicas)
  delegate_to: localhost
  kubernetes.core.k8s:
    state: patched
    kubeconfig: "{{ local_kubeconfig }}"
    kind: ExternalSecret
    name: "{{ item }}"
    namespace: "{{ apps_zitadel.namespace }}"
    definition:
      metadata:
        annotations:
          force-sync: "{{ ansible_facts['date_time'].epoch }}"
  register: zitadel_resync
  loop:
    - zitadel-credentials
    - zitadel-masterkey

- name: Zitadel | Force restart application # noqa: no-handler
  when: zitadel_resync is changed and (server.resources | length) > 0
  delegate_to: "{{ inventory_hostname }}"
  vars:
    ns_name: "{{ apps_zitadel.namespace }}"
    dep_name: "{{ apps_zitadel.release_name }}"
  ansible.builtin.shell: |
    kubectl rollout restart deployment --namespace '{{ ns_name }}' \
    '{{ dep_name }}' && \
    kubectl rollout status deployment --namespace '{{ ns_name }}' \
    '{{ dep_name }}'
  changed_when: false

- name: Authenticate console
  ansible.builtin.import_tasks: auth.yaml

- name: Configure Zitadel resources
  ansible.builtin.import_tasks: setup.yaml
