- name: Check if secret exist
  no_log: true
  ansible.builtin.uri:
    url: "{{ openbao_api_url }}/{{ path }}"
    method: GET
    status_code:
      - 200 # When successful
      - 204 # When warning
      - 404 # When is not created
    headers:
      X-Vault-Token: "{{ openbao_root_token }}"
    return_content: true
  register: openbao_secret_check

- name: Store secret
  when: >
    (openbao_secret_check.status == 404) or
    (updatable and openbao_secret_check.json.data.data != data)
  no_log: true
  changed_when: true
  ansible.builtin.uri:
    url: "{{ openbao_api_url }}/{{ path }}"
    method: POST
    status_code:
      - 200 # When successful
      - 204 # When warning
    body_format: json
    headers:
      X-Vault-Token: "{{ openbao_root_token }}"
    body:
      data: "{{ data }}"
