name: Build and Push Backup Tools Image

on:
  push:
    branches:
      - main
      - develop
    paths:
      - 'kubernetes/services/salamandre/base/backup/app/Dockerfile'

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: backup-tools
  CONTEXT_PATH: kubernetes/services/salamandre/base/backup/app

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set image tag
        id: meta
        run: |
          SHORT_SHA=${{ github.sha }}
          SHA_TAG=${SHORT_SHA:0:7}
          TAGS="${{ env.REGISTRY }}/${{ github.repository }}/${{ env.IMAGE_NAME }}"

          if [[ "${{ github.ref }}" == "refs/heads/main" ]]; then
            echo "tags=${TAGS}:${SHA_TAG},${TAGS}:latest" >> $GITHUB_OUTPUT
          else
            echo "tags=${TAGS}:dev-${SHA_TAG}" >> $GITHUB_OUTPUT
          fi

      - name: Login to Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and Push Docker Image
        uses: docker/build-push-action@v6
        with:
          file: ./${{ env.CONTEXT_PATH }}/Dockerfile
          context: ./${{ env.CONTEXT_PATH }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
