apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: monitoring-credentials
spec:
  secretStoreRef:
    name: vault-eso
    kind: ClusterSecretStore
  refreshInterval: 1h
  target:
    template:
      # Could not have dynamic admin password (see https://github.com/grafana/grafana/issues/33456)
      type: Opaque
      data:
        admin-user: '{{ .adminUser }}'
        admin-password: '{{ .adminPassword }}'
  dataFrom:
    - extract:
        key: baku/grafana/auth
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: monitoring-oidc-credentials
spec:
  secretStoreRef:
    name: vault-eso
    kind: ClusterSecretStore
  refreshInterval: 1h
  target:
    template:
      metadata:
        labels:
          reloader/watch: enabled
  dataFrom:
    - extract:
        key: baku/grafana/oidc
